{{#partial "content"}}

   <h1>Add a new Hero!</h1>

   <form action="/new/hero" method="post">
       <label for="hero">New Hero</label>
        <input type="text" placeholder="Hero's name" name="name" required class="form-control">
         <label for="age">Age</label>
           <input type="number" placeholder="Hero's age" name="age" required class="form-control">
            <label for="power">Special power</label>
                 <input type="text" placeholder="Hero's power" name="power" required class="form-control">
               <label for="weakness">Weakness</label>
                 <input type="text" placeholder="Hero's weakness" name="weakness" required class="form-control">

       <button type="submit" class="btn btn-default">Add new hero</button>
   </form>
   <a class="btns" href="/squad-form">Form Your Squad</a>
                   <br><br>
           {{#if squads}}
                   AVAILABLE SQUADS

           {{#each squads}}
               <div class="squad-cont">

                    <h1>{{ squadName }} </h1>
                     <button  class="btns float-right"> <a href="new/{{squadId}}">Squad Stats</a></button>
                       <p>Id: {{squadId}}</p>
                       <p>Purpose: {{cause}}</p>
                       <p>Max participants: {{ size }}</p>
                        <h3>MEMBERS</h3>
                    <button class="addMember add-btn" >Add New Member</button>
                        {{#each squadMembers}}
                        <div class="member-count">
                         <h4>Name: {{name}}</h4>
                        </div>
                       {{/each}}
                       </div>
                {{/each}}
                {{else}}
               <p>create a new squad</p>
               {{/if}}
{{/partial}}

{{> layout.hbs}}